rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /todos/{todo} {
      allow create: if request.auth.uid != null;
      allow update, delete, read: if request.auth.uid == resource.data.uid;
    }
  }
}